body {
  width: 37.5rem;
  overflow-x: hidden;
}

nav .header {
  height: 6.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.4rem;
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.2);
}

.header .planets-h1 {
  color: white;
  font-size: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
  nav {
    padding-top: 1.2rem;
  }
  nav .header {
    justify-content: center;
    border-bottom: none;
  }
}

@media (min-width: 1398px) {
  nav .header {
    justify-content: start;
    /* align-items: center; */
    border-bottom: none;
    /* display: none; */
    position: absolute;
    align-items: center;
    top: 0.5rem;
    z-index: -1;
  }
}
