.overview,
.structure,
.surface {
  font-size: 0.9rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.2rem;
  color: hsla(0, 0%, 100%, 0.5);
  text-transform: uppercase;

  display: flex;
  align-items: center;

  height: 100%;
}

.planetobj {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding-bottom: 4.7rem;
}
.switchable-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  min-width: 100%;
  height: 5rem;

  /* padding: 2rem 2.4rem; */
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.3rem;
}

.planetImg img {
  width: 11rem;
  /* max-height: 100%; */
}
.planetImg {
  position: relative;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.planetImg .surfaceimg {
  position: absolute;
  height: 85%;
  top: 50%;
}

section {
  width: 30.7rem;
  height: auto;
  text-align: center;
  margin-top: 5.7rem;
  margin-bottom: 3rem;
}

section h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.2rem;
  font-family: "Antonio", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

section p {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Spartan", sans-serif;
  line-height: 2.2rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 1.6rem;
}
section .source {
  margin-top: 3.2rem;
  font-family: Spartan;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;

  color: hsla(0, 0%, 100%, 0.5);

  text-align: center;
  text-transform: capitalize;
}

section .source a {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: underline;
}

.statistic {
  margin-top: -7rem;
  min-width: 32.7rem;
  /* min-height: auto; */
}

.statistic > div {
  width: 100%;
  height: 4.8rem;
  border: 0.1rem solid hsla(0, 0%, 100%, 0.2);
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.4rem;
  font-family: Spartan;
  font-size: 8px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.7272727489471436px;
  text-align: left;
  color: hsl(0, 0%, 100%, 0.5);
  text-transform: uppercase;
}
.statistic div > div {
  font-family: Antonio;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.75px;
  text-align: right;

  color: #ffffff;
}
.numb {
  display: none;
}

@media (min-width: 768px) {
  .planetImg img {
    /* width: 60%; */
    position: relative;
    left: 20rem;
  }

  .planetImg .surfaceimg {
    width: 40%;
  }
  .planetImg {
    margin-top: 5rem;
  }

  .features {
    order: 1;
    display: block;
    min-width: 28.1rem;
    border-bottom: 0rem;
    /* background-color: red; */
    /* margin-top: 35rem; */
    position: relative;
    top: 6rem;

    /* top: 50rem;
    right: 7rem; */
  }

  .numb {
    display: inline-block;
    margin-right: 1.7rem;
    color: hsl(0, 0%, 100%, 0.5);
  }
  .overview,
  .structure,
  .surface {
    border: 0.1rem solid hsl(0, 0%, 100%, 0.2);
    padding: 0.8rem;
    padding-left: 2rem;
    color: #ffffff;
    cursor: pointer;
    height: 4rem;
  }
  .overview::after,
  .structure::after,
  .surface::after {
    background-color: red;
  }

  .features div + div {
    margin-top: 1.6rem;
  }
  .statistic {
    order: 2;
  }

  section {
    /* margin-left: -40rem; */
    text-align: left;
  }

  section .source {
    text-align: left;
  }

  .planetobj {
    /* position: relative; */
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
  }

  .statistic {
    /* margin-top: 2.7rem; */
    display: flex;
    gap: 1.1rem;
  }
  .statistic > div {
    width: 16.4rem;
    height: 8.8rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.6rem;
  }

  /* .statistic div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */
}

@media (min-width: 1398px) {
  .container {
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    /* flex-direction: column; */
  }
  .planetobj {
    /* flex-direction: column; */
    /* flex-direction: row; */
    display: block;
  }

  .statistic {
    order: 3;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .statistic > div {
    width: 25.5rem;
    height: 12.8rem;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    padding-top: 2rem;
  }
  .statistic div {
    font-size: 1.1rem;
  }

  .statistic div > div {
    font-size: 4rem;
  }
  /* section {
    position: relative;
    top: -50rem;
    left: 45rem;
    margin-bottom: 0rem;
  } */
  section {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -13rem;
    left: 45rem;
    margin-bottom: 0rem;
  }
  section h1 {
    font-size: 8rem;
    line-height: 10.3rem;
    /* position: relative;
    top: -50rem;
    left: 45rem;
    margin-bottom: 0rem; */
  }
  section p {
    font-size: 1.4rem;
  }
  .planetImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }
  .planetImg img {
    width: 100%;
    position: relative;
    left: -20rem;
    top: 16.3rem;
  }
  .planetImg .surfaceimg {
    position: relative;
    height: 20rem;
    left: -20rem;
    top: 1.3rem;
  }

  .features {
    /* top: -20rem; */
    /* position: relative; */
    /* order: 2; */
    width: 35rem;
    left: 100rem;
    top: 57rem;
    margin-top: 0rem;
    /* height: auto; */
  }
}
