@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");

body {
  background-color: #070724;
  background-image: url(./assets/images/background-stars.svg);
  background-position: bottom;
}

a {
  text-decoration: none;
}
