ul {
  list-style-type: none;

  width: 100%;
  padding-inline: 2.4rem;
  margin-top: 2.4rem;
}

ul li {
  list-style: none;
  text-decoration: none;

  padding-block: 2rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
ul li:not(:last-child) {
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.2);
}

ul li a {
  display: inline-block;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.136rem;
  text-decoration: none;
  font-style: normal;

  color: #ffffff;
}
.littlePlanet {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
}

.arrow {
  margin-left: auto;
  margin-right: 0.3rem;
}
